<mat-card>
  <section class="w-50 center">
    <mat-card-title i18n>Patient info</mat-card-title>
    <mat-card-content>
      <form [formGroup]="createPatientForm" (ngSubmit)="createPatient()">
        <p>
          <mat-form-field class="w-100">
            <mat-label i18n>Date of birth</mat-label>
            <input matInput [formControl]='dateOfBirth' [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>Street</mat-label>
            <input matInput [formControl]='street' placeholder="Enter your street">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>City</mat-label>
            <input matInput [formControl]='city' placeholder="Enter your city">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>State</mat-label>
            <input matInput [formControl]='state' placeholder="Enter your state">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>Country</mat-label>
            <input matInput [formControl]='country' placeholder="Enter your country">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>Zip</mat-label>
            <input matInput [formControl]='zipCode' placeholder="Enter your zip">
          </mat-form-field>
        </p>
        <p>
          <app-file-upload></app-file-upload>
        </p>
        <p *ngIf="error" class="error">
          {{ error }}
        </p>
        <div class="button">
          <button type="submit" mat-raised-button color="warn" i18n>Create</button>
        </div>
      </form>
    </mat-card-content>
  </section>
</mat-card>
