.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  margin: 10px auto;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}
