<form method="POST" [formGroup]="banForm" (ngSubmit)="fetchFormData()">
  <h2 mat-dialog-title i18n>Ban user</h2>
  <div class="d-flex flex-column">
    <mat-form-field appearance="fill">
      <mat-label i18n>Select ban period</mat-label>
      <mat-select [formControl]='banPeriod'>
        <mat-option *ngFor="let period of banPeriods" [value]="period.value">
          {{period.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label i18n>Custom period</mat-label>
      <input matInput [formControl]='until' [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="banForm.invalid" [mat-dialog-close]="fetchFormData()" i18n>
      Ban
    </button>
  </div>
</form>
