<div class="create-button">
  <a mat-raised-button color="warn" routerLink="/vaccines/new" i18n>
    Create vaccine
  </a>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="action">
    <tr><th mat-header-cell *matHeaderCellDef i18n> Action </th></tr>
    <tr>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="deleteVaccine(row)" title="Delete vaccine"><mat-icon>delete</mat-icon></button>
      </td>
    <tr>
  </ng-container>

  <ng-container matColumnDef="illnessName">
    <th mat-header-cell *matHeaderCellDef i18n> Illness name </th>
    <td mat-cell *matCellDef="let element"> {{element.illnessName}} </td>
  </ng-container>

  <ng-container matColumnDef="vaccineName">
    <th mat-header-cell *matHeaderCellDef i18n> Vaccine name </th>
    <td mat-cell *matCellDef="let element"> {{element.vaccineName}} </td>
  </ng-container>

  <ng-container matColumnDef="vendor">
    <th mat-header-cell *matHeaderCellDef i18n> Vaccine vendor </th>
    <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
  </ng-container>

  <ng-container matColumnDef="valence">
    <th mat-header-cell *matHeaderCellDef i18n> Vaccine valence </th>
    <td mat-cell *matCellDef="let element"> {{element.valence}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
