<mat-card>
  <section class="w-50 center">
    <mat-card-title i18n>Vaccination</mat-card-title>
    <mat-card-content>
      <form [formGroup]="createVaccinationForm" (ngSubmit)="createVaccination()">
        <p>
          <mat-form-field class="w-100">
            <mat-label i18n>Vaccine</mat-label>
            <mat-select formControlName="vaccineId">
              <mat-option *ngFor="let vaccine of vaccineValues" [value]="vaccine.value">
                {{vaccine.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="w-100">
            <mat-label i18n>Patient</mat-label>
            <mat-select formControlName="patientId">
              <mat-option *ngFor="let patient of patientValues" [value]="patient.value">
                {{patient.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <app-file-upload></app-file-upload>
        </p>
        <p *ngIf="error" class="error">
          {{ error }}
        </p>
        <div class="button">
          <button type="submit" mat-raised-button color="warn" i18n>Create</button>
        </div>
      </form>
    </mat-card-content>
  </section>
</mat-card>
