<div class="create-button">
  <a mat-raised-button color="warn" routerLink="/hospitals/new" i18n>
    Create hospital
  </a>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="action">
    <tr><th mat-header-cell *matHeaderCellDef i18n> Action </th></tr>
    <tr>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="deleteHospital(row)" title="Delete vaccine"><mat-icon>delete</mat-icon></button>
      </td>
    <tr>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef i18n> Hospital name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="street">
    <th mat-header-cell *matHeaderCellDef i18n> Street </th>
    <td mat-cell *matCellDef="let element"> {{element.address.street}} </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef i18n> City </th>
    <td mat-cell *matCellDef="let element"> {{element.address.city}} </td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef i18n> Country </th>
    <td mat-cell *matCellDef="let element"> {{element.address.country}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
