<div class="create-button">
  <a mat-raised-button color="warn" routerLink="/patients/new" i18n>
    Create patient
  </a>
</div>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef i18n> Patient name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef i18n> Patient Email</th>
    <td mat-cell *matCellDef="let element"> {{element.email}}</td>
  </ng-container>

  <ng-container matColumnDef="dateOfBirth">
    <th mat-header-cell *matHeaderCellDef i18n> Date of birth</th>
    <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date:'short'}}</td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef i18n> City</th>
    <td mat-cell *matCellDef="let element"> {{element.address.city}}</td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef i18n> Country</th>
    <td mat-cell *matCellDef="let element"> {{element.address.country}}</td>
  </ng-container>

  <ng-container matColumnDef="verification">
    <th mat-header-cell *matHeaderCellDef i18n> Verification status</th>
    <td mat-cell *matCellDef="let element"> {{element.verification}}</td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <figure class="w-65">
          <img [src]="patientImage" alt="patient image">
          <figcaption>
            <h2 class="text-center">
              Patient: {{element.name}}
            </h2>
          </figcaption>
        </figure>
        <div class="example-element-diagram">
          <div class="example-element-symbol">
            <span class="bold" i18n>
              Street:
            </span>
            {{element.address.street}}
          </div>
          <div class="example-element-symbol">
            <span class="bold" i18n>
              City:
            </span>
            {{element.address.city}}
          </div>
          <div class="example-element-symbol">
            <span class="bold" i18n>
              State:
            </span>
            {{element.address.state}}
          </div>
          <div class="example-element-symbol">
            <span class="bold" i18n>
              Country:
            </span>
            {{element.address.country}}
          </div>
          <div class="example-element-symbol">
            <span class="bold" i18n>
              Zip:
            </span>
            {{element.address.zipCode}}
          </div>

          <ng-container *ngIf="element.verification == 'Pending'">
            <div class="mt-5">
              <div class="button">
                <button type="button" (click)="verifyPatient(element)" mat-raised-button color="warn" i18n>Verify</button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandElement(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
