<main >
  <header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Vaccination</span>
        <span class="menu-spacer"></span>
        <div class="d-flex align-center">
          <a class="menu-link" routerLink="vaccinations" mat-button i18n>My vaccinations</a>
          <a class="menu-link" routerLink="hospitals" mat-button i18n>Hospitals</a>
          <a class="menu-link" routerLink="vaccines" mat-button i18n>Vaccines</a>
          <a class="menu-link" routerLink="patients" mat-button i18n>Patients</a>
          <a class="menu-link" routerLink="doctors" mat-button i18n>Doctors</a>
          <a class="menu-link" routerLink="users" mat-button i18n>Users</a>

          <a>
            <mat-form-field>
              <mat-label i18n>Language</mat-label>
              <mat-select>
                <mat-option>
                  <a class="lang-link" [href]="getLocalizationPath('ua')">
                    Українська
                  </a>
                </mat-option>
                <mat-option>
                  <a class="lang-link" [href]="getLocalizationPath('en')">
                    English
                  </a>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </a>

          <app-notification *ngIf="authService.isLoggedIn"></app-notification>
        </div>
        <div *ngIf='authService.isLoggedIn then loggedIn else loggedOut' >
        </div>

        <ng-template #loggedOut>
          <a routerLink="sign-up" mat-raised-button i18n>Sign Up</a>
        </ng-template>

        <ng-template #loggedIn>
          <button class="menu-link" mat-raised-button (click)="authService.logout()" i18n>Log out</button>
        </ng-template>

      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</main>
