.w-20 {
  width: 20% !important;
}

.w-60 {
  width: 60% !important;
}

.w-80 {
  width: 80% !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.is-invalid {
  border-left: solid 6px red;
}

.menu-link:hover {
  color: #fff;
}

.align-center {
  align-items: center;
}

.lang-link {
  font-size: 14px;
  color: #3d4465;
}

.pt-3{
  padding-top: 3%;
}
.pb-3{
  padding-bottom: 3%;
}
