<mat-card>
  <section class="w-50 center">
    <mat-card-title i18n>Create Vaccine</mat-card-title>
    <mat-card-content>
      <form [formGroup]="createVaccineForm" (ngSubmit)="createVaccine()">
        <p>
          <mat-form-field class="w-100">
            <mat-label i18n>Illness name</mat-label>
            <input matInput [formControl]='illnessName'>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>Vaccine name</mat-label>
            <input matInput [formControl]='vaccineName' placeholder="Enter vaccine name">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>Type</mat-label>
            <input matInput [formControl]='type' placeholder="Enter vaccine type">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>Description</mat-label>
            <input matInput [formControl]='description' placeholder="Enter vaccine description">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>Vendor</mat-label>
            <input matInput [formControl]='vendor' placeholder="Enter vaccine vendor">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>Valence</mat-label>
            <input matInput [formControl]='valence' placeholder="Enter vaccine valence">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>License</mat-label>
            <input matInput [formControl]='license' placeholder="Enter vaccine license">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>Side effects</mat-label>
            <input matInput [formControl]='sideEffects' placeholder="Enter vaccine side effects">
          </mat-form-field>
        </p>
        <div class="button">
          <button type="submit" mat-raised-button color="warn" i18n>Create vaccine</button>
        </div>
      </form>
    </mat-card-content>
  </section>
</mat-card>
