<div class="create-button">
  <a mat-raised-button color="warn" routerLink="/vaccinations/new"  i18n>
    Create vaccination
  </a>
</div>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">

  <ng-container matColumnDef="illnessName">
    <th mat-header-cell *matHeaderCellDef i18n> Illness name </th>
    <td mat-cell *matCellDef="let element"> {{element.illnessName}} </td>
  </ng-container>

  <ng-container matColumnDef="vaccineName">
    <th mat-header-cell *matHeaderCellDef i18n> Vaccine </th>
    <td mat-cell *matCellDef="let element"> {{element.vaccineName}} </td>
  </ng-container>

  <ng-container matColumnDef="hospitalName">
    <th mat-header-cell *matHeaderCellDef i18n> Hospital </th>
    <td mat-cell *matCellDef="let element"> {{element.hospitalName}} </td>
  </ng-container>

  <ng-container matColumnDef="doctorName">
    <th mat-header-cell *matHeaderCellDef i18n> Doctor </th>
    <td mat-cell *matCellDef="let element"> {{element.doctorName}} </td>
  </ng-container>

  <ng-container matColumnDef="patientName">
    <th mat-header-cell *matHeaderCellDef i18n> Patient </th>
    <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
  </ng-container>

  <ng-container matColumnDef="vaccinationStatus">
    <th mat-header-cell *matHeaderCellDef i18n> Vaccination status </th>
    <td mat-cell *matCellDef="let element"> {{element.vaccinationStatus}} </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef i18n> Created at </th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'short'}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <figure class="flex-column">
          <video controls="controls" class='h-60' [src]="video" (playing)="onPlayingVideo($event)">
          </video>
          <figcaption>
            <h2 class="text-center" i18n>
              Vaccination video
            </h2>
          </figcaption>
        </figure>
        <div class="example-element-diagram">
          <div class="example-element-symbol">
            <span class="bold" i18n>
              Doctor:
            </span>
            {{element.doctorName}}
          </div>
          <div class="example-element-symbol">
            <span class="bold" i18n>
              Patient:
            </span>
            {{element.patientName}}
          </div>
          <div class="example-element-symbol">
            <span class="bold" i18n>
              Status:
            </span>
            {{element.vaccinationStatus}}
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandElement(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
