<mat-card>
  <mat-card-title i18n>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="signInForm" (ngSubmit)="loginUser()">
    <p>
      <mat-form-field>
        <input type="text" matInput placeholder="Login" formControlName="login">
        <mat-error *ngIf="login.invalid" i18n>Login is not valid</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="password.hasError('required')" i18n>Password is required!</mat-error>
        <mat-error *ngIf="password.hasError('minlength')" i18n>Must be at least 8 characters!</mat-error>
        <mat-error *ngIf="password.hasError('hasNumber')" i18n>Must contain at least 1 number!</mat-error>
        <mat-error *ngIf="password.hasError('hasCapitalCase')" i18n>Must contain at least 1 in Capital Case!</mat-error>
        <mat-error *ngIf="password.hasError('hasSmallCase')" i18n>Must contain at least 1 Letter in Small Case!</mat-error>
        <mat-error *ngIf="password.hasError('hasSpecialCharacters')" i18n>Must contain at least 1 Special Character!</mat-error>
      </mat-form-field>
    </p>
    <p *ngIf="error" class="error">
      {{ error }}
    </p>
    <div class="button">
      <button type="submit" mat-button i18n>Login</button>
    </div>
    </form>
  </mat-card-content>
</mat-card>
