<mat-card>
  <section class="w-50 center">
    <mat-card-title i18n>Create Hospital</mat-card-title>
    <mat-card-content>
      <form [formGroup]="createHospitalForm" (ngSubmit)="createHospital()">
        <p>
          <mat-form-field class="example-full-width w-100">
            <mat-label i18n>Hospital name</mat-label>
            <input matInput [formControl]='name'>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>Street</mat-label>
            <input matInput [formControl]='street' placeholder="Enter hospital street">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>City</mat-label>
            <input matInput [formControl]='city' placeholder="Enter hospital city">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>State</mat-label>
            <input matInput [formControl]='state' placeholder="Enter hospital state">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>Country</mat-label>
            <input matInput [formControl]='country' placeholder="Enter hospital country">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" class="w-100">
            <mat-label i18n>Zip</mat-label>
            <input matInput [formControl]='zipCode' placeholder="Enter hospital zip">
          </mat-form-field>
        </p>
        <div class="button">
          <button type="submit" mat-raised-button color="warn" i18n>Create hospital</button>
        </div>
      </form>
    </mat-card-content>
  </section>
</mat-card>
