<div class="create-button">
  <a mat-raised-button color="warn" routerLink="/doctors/new" i18n>
    Create doctor
  </a>
</div>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef i18n> Doctor name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef i18n> Doctor Email</th>
    <td mat-cell *matCellDef="let element"> {{element.email}}</td>
  </ng-container>

  <ng-container matColumnDef="specialty">
    <th mat-header-cell *matHeaderCellDef i18n> Doctor specialty</th>
    <td mat-cell *matCellDef="let element"> {{element.specialty}}</td>
  </ng-container>

  <ng-container matColumnDef="hospital">
    <th mat-header-cell *matHeaderCellDef i18n> Hospital</th>
    <td mat-cell *matCellDef="let element"> {{element.hospital}}</td>
  </ng-container>

  <ng-container matColumnDef="verification">
    <th mat-header-cell *matHeaderCellDef i18n> Verification status</th>
    <td mat-cell *matCellDef="let element"> {{element.verification}}</td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <figure class="w-65">
          <img [src]="doctorImage" alt="doctor image">
          <figcaption>
            <h2 class="text-center">
              Doctor: {{element.name}}
            </h2>
          </figcaption>
        </figure>
        <div class="example-element-diagram">
          <div class="example-element-symbol">
            <span class="bold" i18n>
              Experience:
            </span>
            {{element.experience}} <span i18n>years</span>
          </div>
          <div class="example-element-symbol">
            <span class="bold" i18n>
              Professional summary:
            </span>
            {{element.professionalSummary}}
          </div>
          <ng-container *ngIf="element.verification == 'Pending'">
            <div class="mt-5">
              <div class="button">
                <button type="button" (click)="verifyDoctor(element)" mat-raised-button color="warn" i18n>Verify</button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandElement(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
