<mat-card>
  <section class="w-50 center">
    <mat-card-title i18n>Doctor info</mat-card-title>
    <mat-card-content>
      <form [formGroup]="createDoctorForm" (ngSubmit)="createDoctor()">
        <p>
          <mat-form-field class="w-100">
            <mat-label i18n>Specialty</mat-label>
            <input matInput [formControl]='specialty' placeholder="Enter your specialty">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="w-100">
            <mat-label i18n>Years of experience</mat-label>
            <input type="number" matInput [formControl]='experience' placeholder="Enter your experience">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="w-100">
            <mat-label i18n>Professional summary</mat-label>
            <textarea matInput [formControl]='professionalSummary' placeholder="Your summary" rows="10"></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="w-100">
            <mat-label i18n>Hospital</mat-label>
            <mat-select formControlName="hospitalId">
              <mat-option *ngFor="let hospital of hospitals" [value]="hospital.value">
                {{hospital.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <app-file-upload></app-file-upload>
        </p>
        <p *ngIf="error" class="error">
          {{ error }}
        </p>
        <div class="button">
          <button type="submit" mat-raised-button color="warn" i18n>Create</button>
        </div>
      </form>
    </mat-card-content>
  </section>
</mat-card>
