<div class="create-button">
  <button type="button" mat-raised-button color="warn" (click)="downloadBackup()" i18n>
    Download latest backup
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="action">
    <tr><th mat-header-cell *matHeaderCellDef> i18n Action </th></tr>
    <tr>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="banUser(row)" title="Ban user"><mat-icon>lock</mat-icon></button>
      </td>
    <tr>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef i18n> First name </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef i18n> Last name </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef i18n> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="login">
    <th mat-header-cell *matHeaderCellDef i18n> Login </th>
    <td mat-cell *matCellDef="let element"> {{element.login}} </td>
  </ng-container>

  <ng-container matColumnDef="bannedUntil">
    <th mat-header-cell *matHeaderCellDef i18n> Banned until </th>
    <td mat-cell *matCellDef="let element"> {{element.bannedUntil}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
